{{ define "main" }}

    <div class="exp-main">

        <div class="exp-box">
            <div class="exp-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/band_ciencias" }}
                    {{ .Title }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>

        <div class="exp-box">
            <div class="exp-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/band_optativas" }}
                    {{ .Title }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>

        <div class="exp-box">
            <div class="exp-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/band_extras" }}
                    {{ .Title }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>
        
    </div>

{{ end }}