
{{ define "main" }}
    <div class="home-main">
        <div id="index-center-image">
        <img src="{{ relURL "images/profile_image.png" }}" alt="could not load image">
        </div>
        <div class="home-main-subdivision">
            <div class="image-side-text">
                {{.Content}}
            </div>
            <div class="button-grouping-row">
            <a href="{{relURL "documents/CV_ptbr_MateusGurza.pdf" }}"><button>Currículo pt-BR</button></a>
            <a href="{{relURL "documents/CV_enus_MateusGurza.pdf" }}"><button>Currículo en-US</button></a>
            </div> 
            <div id="index-center-nav">
                <nav>
                    <a href="https://github.com/MatzkinGurza"><img src="{{ relURL "images/github_image.png" }}"></a>
                    <a href="https://www.linkedin.com/in/mateus-matzkin-gurza-a54115248"><img src="{{ relURL "images/linkedin_image.png" }}"></a>
                    <a href="https://www.instagram.com/mateusgurza/"><img src="{{ relURL "images/instagram_image.png" }}"></a>
                </nav> 
            </div>
        </div>
    </div>
{{ end }}


