{{ define "main" }}
    {{ .Content }}
    <div class="home-main">
        <img src="{{ relURL "images/profile_image.png" }}" alt="could not load image">
        <div class="home-main-subdivision">
            <nav>
                <a href="https://github.com/MatzkinGurza"><img src="{{ relURL "images/github_image.png" }}"  style="width:42px;height:42px;"></a>
                <a href="https://leetcode.com/u/MatzkinGurza/"><img src="{{ relURL "images/leetcode_image.png" }}"  style="width:42px;height:42px;"></a>
                <a href="https://www.linkedin.com/in/mateus-matzkin-gurza-a54115248"><img src="{{ relURL "images/linkedin_image.png" }}"  style="width:42px;height:42px;"></a>
                <a href="https://www.instagram.com/mateusgurza/"><img src="{{ relURL "images/instagram_image.png" }}"  style="width:42px;height:42px;"></a>
            </nav> 
            <a href="{{relURL "documents/CV_ptbr_MateusGurza.pdf" }}"><button>Currículo pt-BR</button></a>
            <a href="{{relURL "documents/CV_enus_MateusGurza.pdf" }}"><button>Currículo en-US</button></a>
            <p>Sou um parágrafo. Aqui você pode adicionar seu texto. É fácil, basta clicar em "Editar texto" ou clicar duas vezes sobre mim para editar o conteúdo, a fonte e mais.</p>
            <p>Sou um ótimo lugar para você contar a sua história e compartilhar sobre você.</p>
        </div>
    </div>
{{ end }}

