{{ define "main" }}

    <div class="exp-main">

        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/bandeirapj_img.jpeg" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_treinamentos" }}
                    {{ .Content }}
                {{ end }}
            </article>
            <a href="https://polijunior.com.br/"><button>Site da Poli Júnior</button></a>
        </div>

        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/graph_img.png" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_case" }}
                    {{ .Content }}
                {{ end }}
                <a href="https://polijunior.com.br/cases/zoetis/"><button>Case Zoetis no site</button></a>
            </article>
        </div>

        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/analista_img.jpg" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_analista" }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>

        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/equipepj_img.jpeg" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_gerente" }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>


        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/coord_img.jpeg" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_coordenador" }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>

        <div class="exp-box">
            <div class="exp-img">
                <img src="{{ relURL "images/hunter_img.jpeg" }}" alt="could not load image" class="article-img">
            </div>
            <article class="exp-text">
                {{ with .GetPage "textfiles/pj_hunter" }}
                    {{ .Content }}
                {{ end }}
            </article>
        </div>

    </div>

{{ end }}